$def with (title)
<html>
  <head>
    <title>OpenEQ.org :: $title</title>
  </head>
  <body>
    <form>
    <div>
      Display Name:<br />
      <input type="text" name="name" />
    </div>
    <div>
      Email Address (Make sure it's valid!):<br />
      <input type="text" name="email" />
    </div>
    <div>
      Current Password:
      <input type="password" name="currentpass" />
    </div>
    <div>
      New Password (if you want to change it):<br />
      <input type="password" name="newpass" />
    </div>
    <div>
      <input type="submit" value="Submit Changes" />
    </div>
    </form>
  </body>
</html>

