$def with (title)
<html>
  <head>
    <title>OpenEQ.org :: $title</title>
  </head>
  <body>
    <form>
    <div>
      Display Name:<br />
      <input type="text" name="name" />
    </div>
    <div>
      Email Address (Make sure it's valid!):<br />
      <input type="text" name="email" />
    </div>
    <div>
      Desired Username:<br />
      <input type="text" name="username" />
    </div>
    <div>
      Password:<br />
      <input type="password" name="password" />
    </div>
    <div>
      By clicking register you have stated that you have read and agree with the Terms and Conditions of this site.<br />
      <input type="submit" value="Register" />
    </div>
    </form>
  </body>
</html>

